<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_product_images_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_product_image_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_product_image_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.admin_product_image.product_id", :default => t("activerecord.labels.product_id", :default => "Product")) %>:</b>
          <%= @product_image.product_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_product_image.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @product_image.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_product_image.title", :default => t("activerecord.labels.title", :default => "Title")) %>:</b>
          <%= @product_image.title %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_product_image.description", :default => t("activerecord.labels.description", :default => "Description")) %>:</b>
          <%= @product_image.description %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_product_image.url", :default => t("activerecord.labels.url", :default => "Url")) %>:</b>
          <%= @product_image.url %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_product_image.enabled", :default => t("activerecord.labels.enabled", :default => "Enabled")) %>:</b>
          <%= @product_image.enabled %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_product_image_path(@product_image), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_product_image_path(@product_image), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>