<%= render :partial => "/layouts/navBar", :locals => { :tab => "top" } %>
      <div class="jumbotron">
        <h1>
          嗨，我是卡龍。
        </h1>
        <p>
          卡龍只賣馬卡龍。
        </p>
        <p>
          <%=link_to "了解更多", introduce_index_path, :class => "btn btn-primary btn-large"%>
        </p>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <%@top_product.each do |product|%>
    <div class="col-md-4 column">
      <h2>
        <%=product.name%>
      </h2>
      <p>
        這邊放簡介或圖，但我覺得圖會比較好，簡介可以在details看
        <%=product.intro%>
      </p>
      <p>
        <%=link_to "了解更多" , product_path(product.id),  :class => "btn"%>
      </p>
    </div>
    <%end%>
  </div>

