<%= render :partial => "/layouts/navBar", :locals => { :tab => "customer" } %>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <h3>
        正在修改 <%=@customer.name%>。
      </h3>
      <%= form_for @customer, :url => customer_path, :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
        <%=f.submit "確認修改" , :class => "btn btn-success"%>
        <%=f.submit "取消" , :class => "btn btn-default"%>
      <%end%>
    </div>
  </div>
</div>
