<%= render :partial => "/layouts/navBar", :locals => { :tab => "order" } %>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <h3>
        正在修改 <%=@product.name%>。
      </h3>
      <%=image_tag  @product.product_images.first.url, :class => "img-circle"%>
      <%= form_for @order, :url => order_path, :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
        <%=f.submit "確認修改" , :class => "btn btn-alert"%>
        <%=f.submit "取消" , :class => "btn btn-default"%>
      <%end%>
    </div>
  </div>
</div>



<script type="text/javascript">
  var price = <%=@product.price%>;
  var discount = <%=@product.discount%> * 0.01;

  function sum(){
    var quantity = $("#order_quantity").val();
    var sum = quantity * price * discount;
    $("#order_sum_price").val(Math.round(sum));
  }

  window.onload=sum();

</script>