<%= render :partial => "/layouts/navBar", :locals => { :tab => "order" } %>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="row">
                  <%@orders.each do |order|%>

        <div class="col-md-4">
          <div class="thumbnail">
            <%=image_tag order.product.product_images.first.url%>
            <div class="caption">
              <h3>
                <%=order.product.name%>
              </h3>
              <p>・收件者：<%=order.delivery_name%></p>
              <p>・收件地址：<%=order.delivery_address%></p>
              <p>・收件方式：<%=order.delivery_method%></p>
              <p>・訂單狀態：<%=order.status%></p>
              <p>・數量：<%=order.quantity%></p>
              <p>・折扣：<%=order.product.discount%>折</p>
              <p>・總價：<%=order.sum_price%></p>
              
              <p>
                <a class="btn btn-primary" href="#">詳細資訊</a> 
                <a class="btn" href="#">取消訂單</a>
              </p>
            </div>
          </div>
        </div>
                  <%end%>

      </div>
    </div>
  </div>
</div>