<%= render :partial => "/layouts/navBar", :locals => { :tab => "product" } %>
<div class="container">
  <%@products.each do |product|%>
  <div class="row clearfix">
    <div class="col-md-2 column">
      <%=image_tag product[:url], :class => "img-circle"%>
    </div>
    <div class="col-md-6 column">
      <dl>
        <dt>
          <%=product[:name]%>
        </dt>
        <dd>
          <%=product[:intro]%>
        </dd>
      </dl>
    </div>
    <div class="col-md-4 column">
      <p><button type="button" class="btn btn-primary">不知道這個鈕要幹嘛</button></p>
      <p><%=link_to "訂購", new_order_path(:product_id => product[:id]) , :class => "btn btn-success"%></p>
      <p><%=link_to "詳細介紹", product_path(product[:id]) , :class => "btn btn-info"%></p>
    </div>
  </div>
  <%end%>
</div>
