<%= render :partial => "/layouts/navBar", :locals => { :tab => "product" } %>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="carousel slide" id="carousel-228171">
        <ol class="carousel-indicators">
          <%@images.each_with_index do |image,index|%>
            <%if index==1%>
            <li data-slide-to="#{index}" data-target="#carousel-228171"></li>
            <%else%>
            <li data-slide-to="#{index}" data-target="#carousel-228171" class="active"></li>
            <%end%>
          <%end%>
        </ol>
        <div class="carousel-inner">
          <%@images.each_with_index do |image,index|%>
            <%if index==1%>
            <div class="item active">
              <%=image_tag image.url%>
              <div class="carousel-caption">
                <h4>
                  <%=image.title%>
                </h4>
                <p>
                  <%=image.description%>
                </p>
              </div>
            </div>            

            <%else%>

            <div class="item">
              <%=image_tag image.url%>
              <div class="carousel-caption">
                <h4>
                  <%=image.title%>
                </h4>
                <p>
                  <%=image.description%>
                </p>
              </div>
            </div>
            <%end%>
          <%end%>

        </div> <a class="left carousel-control" href="#carousel-228171" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-228171" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>

      <div class="tabbable" id="tabs-993353">
        <ul class="nav nav-tabs">
          <li>
            <a href="#panel-489648" data-toggle="tab">成分表</a>
          </li>
          <li class="active">
            <a href="#panel-202402" data-toggle="tab">付款資訊</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" id="panel-489648">
            <pre>
              【卡龍匯款資訊】
            ‧  預付訂金50%
            ‧  匯款銀行：第一商業銀行台東分行(代號007)
            ‧  匯款帳號：811-50-267597
            ‧  戶名：馬卡龍
               匯出訂金後煩請電話告知，並將匯款收據註明匯款人姓名、連絡電話、住宿日期完整填寫，傳真至(089)515709或回函給我們
            </pre>
          </div>
          <div class="tab-pane active" id="panel-202402">
            <pre>
            【卡龍匯款資訊】
            ‧  預付訂金50%
            ‧  匯款銀行：第一商業銀行台東分行(代號007)
            ‧  匯款帳號：811-50-267597
            ‧  戶名：馬卡龍
               匯出訂金後煩請電話告知，並將匯款收據註明匯款人姓名、連絡電話、住宿日期完整填寫，傳真至(089)515709或回函給我們
            　  　
            　 
            　

            【卡龍郵政劃撥資訊】
            ‧  需一次付清住宿金額
            ‧  劃撥戶名：馬卡龍
            ‧  劃撥帳號：06682820
               劃撥後煩請電話告知，並將劃撥單收據註明匯款人姓名、連絡電話、住宿日期完整填寫，傳真至(089)515709或回函給我們
            </pre>
          </div>
        </div>
      </div>
      <%=link_to "把我帶回家", new_order_path(:product_id => @product.id) , :class => "btn btn-success btn-block"%>
    </div>
  </div>
</div>
</body>
</html>
