<%if current_employee.present?%>
<div class="imcm imde" id="imouter0">
  <ul id="imenus0">
      <!-- ====Group Start==== -->
        <li class="imatm">
          <%= link_to "商品管理", "javascript:void(0);" %>
          <div class="imsc"><div class="imsubc"><ul>
            <!-- ====Sub Start==== -->
                <li>
                  <%= link_to "列表", admin_products_path %>
                </li>
                <li>
                  <%= link_to "新增", new_admin_product_path %>
                </li>
                <li>
                  <%= link_to "圖片管理", admin_product_images_path %>
                    <div class="imsc">
                      <div class="imsubc">
                        <ul style="">
                          <li>
                            <%= link_to "列表", admin_product_images_path %>
                          </li>
                          <li>
                            <%= link_to "新增", new_admin_product_image_path %>
                          </li>
                        </ul>
                      </div>
                    </div>
                </li>
            <!-- ====Sub End==== -->
          </ul></div></div>
        </li>
      <!-- ====Group End==== -->
  </ul>
  <ul id="imenus0">
      <!-- ====Group Start==== -->
        <li class="imatm">
          <%= link_to "員工管理", "javascript:void(0);" %>
          <div class="imsc"><div class="imsubc"><ul>
            <!-- ====Sub Start==== -->
                <li>
                  <%= link_to "列表", admin_employees_path %>
                </li>
                <li>
                  <%= link_to "新增", new_admin_employee_path %>
                </li>
            <!-- ====Sub End==== -->
          </ul></div></div>
        </li>
      <!-- ====Group End==== -->
  </ul>

    <ul id="imenus0">
      <!-- ====Group Start==== -->
        <li class="imatm">
          <%= link_to "會員管理", "javascript:void(0);" %>
          <div class="imsc"><div class="imsubc"><ul>
            <!-- ====Sub Start==== -->
                <li>
                  <%= link_to "列表", admin_customers_path %>
                </li>
                <li>
                  <%= link_to "新增", new_admin_customer_path %>
                </li>
            <!-- ====Sub End==== -->
          </ul></div></div>
        </li>
      <!-- ====Group End==== -->
  </ul>

    <ul id="imenus0">
      <!-- ====Group Start==== -->
        <li class="imatm">
          <%= link_to "訂單管理", "javascript:void(0);" %>
          <div class="imsc"><div class="imsubc"><ul>
            <!-- ====Sub Start==== -->
                <li>
                  <%= link_to "列表", admin_orders_path %>
                </li>
                <li>
                  <%= link_to "新增", new_admin_order_path %>
                </li>
            <!-- ====Sub End==== -->
          </ul></div></div>
        </li>
      <!-- ====Group End==== -->
  </ul>

</div>
<%end%>