
<script type="text/javascript">
  $(document).ready(function() {
  $("a.fancyimage").fancybox({
  'overlayShow' : false,
  'transitionIn'  : 'elastic',
  'transitionOut' : 'elastic' });
  });
</script>
<BR><BR><BR><BR><BR>
<div class="wrapper">
  <div class="border"></div>
  <article class="fullwidth gallery">
    <h3>Gallery</h3>
    <%=link_to image_tag("gallery/IMG_2355.JPG", width: '200', height: '200'), root_path , :class => "fancyimage"%>
    <%=link_to image_tag("gallery/IMG_2381.JPG", width: '200', height: '200'), root_path , :class => "fancyimage"%>
    <%=link_to image_tag("gallery/IMG_2397.JPG", width: '200', height: '200'), root_path , :class => "fancyimage"%>
    <%=link_to image_tag("gallery/IMG_2455.JPG", width: '200', height: '200'), root_path , :class => "fancyimage"%>
    <%=link_to image_tag("gallery/IMG_3137.JPG", width: '200', height: '200'), root_path , :class => "fancyimage"%>
    <%=link_to image_tag("gallery/IMG_3165.JPG", width: '200', height: '200'), root_path , :class => "fancyimage"%>
    <%=link_to image_tag("gallery/IMG_3207.JPG", width: '200', height: '200'), root_path , :class => "fancyimage"%>
    <%=link_to image_tag("gallery/IMG_3224.JPG", width: '200', height: '200'), root_path , :class => "fancyimage"%>
    <%=link_to image_tag("gallery/IMG_3230.JPG", width: '200', height: '200'), root_path , :class => "fancyimage"%>
    <%=link_to image_tag("gallery/IMG_3264.JPG", width: '200', height: '200'), root_path , :class => "fancyimage"%>
  </article>
</div>